.footerContainer {
    position: relative;
    min-height: 100vh; 
}
.footer {
    height: 280px;
    width: 100%;
    background-color: var(--savoy-blue);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social {
    flex: 2 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0rem 10rem;
    justify-content: center;
    align-items: center;
}
.colThree {
    flex: 1;
    padding: 2rem 1rem 2rem 1rem;
}
.colTwo {
    flex: 1;
    padding: 2rem 0rem 2rem 1rem;
}
.colOne {
    flex: 1;
    padding: 2rem 0rem 2rem 8rem;
    row-gap: 1rem;
}
.listTitle {
    font-family: var(--font);
    font-weight: var(--semibold);
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
.listItem {
    font-family: var(--font);
    font-weight: var(--light);
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}
.link {
    text-decoration: none;
}
.list {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}