.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.box {
  height: 730px;
  width: 100vw;
  background-color: var(--periwinkle);
  position: absolute;
  top: 0;
  z-index: -1;
}
.keyFeatures {
  height: 615px;
  width: 100vw;
  background-color: var(--white);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.press {
  height: 583px;
  width: 100vw;
  background-color: var(--white);
}
.image {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}
.featuresTitle {
  font-family: var(--font);
  font-weight: var(--semibold);
  color: var(--midnight-blue);
  font-size: 32px;
}
.headerContainer {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
}

