.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.signUp {
  height: 829px;
  width: 100vw;
  background-color: var(--white);
}
.box {
  height: 730px;
  width: 100vw;
  background-color: var(--periwinkle);
  position: absolute;
  top: 0;
}
.keyFeatures {
  height: 615px;
  width: 100vw;
  background-color: var(--white);
}
.press {
  height: 583px;
  width: 100vw;
  background-color: var(--white);
}
